name: docs

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  doxygen:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run Doxygen
      uses: mattnotmitt/doxygen-action@v1
      with:
        doxyfile-path: "./doc/Doxyfile"
        enable-latex: false

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        publish_dir: "./doc/html"
        destination_dir: "./doxygen"
        user_name: "github-actions[bot]"
        user_email: "github-actions[bot]@users.noreply.github.com"
