name: docs

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  doxygen:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run Doxygen
      uses: mattnotmitt/doxygen-action@v1
      with:
        doxyfile-path: "./doc/Doxyfile"
        enable-latex: false
    
    - name: Run Sphinx
      uses: sphinx-notes/pages@master
      with:
        documentation_path: "./doc"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
